.add-list {
  &__popup {
    width: 235px;
    height: 148px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
    position: relative;
    top:-17px;
    right: -9px;
    &-close{
        position: absolute;
        top:-5px;
        right: -5px;
        cursor: pointer;
    }
    &-colors {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      .badge {
        width: 18px;
        height: 18px;
        position: static;
        cursor: pointer;
        border: 2px solid #ffffff;
        &.active {
          border: 2px solid #666363;
        }
      }
    }
  }
  .button {
    width: 100%;
    margin-top: 15px;
  }
}
